@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
  @apply font-body;
}

@layer components {
  .bg-primary {
    @apply bg-white dark:bg-gray-900;
  }

  .bg-secondary {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .border-primary {
    @apply border-gray-200 dark:border-gray-700;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-800 dark:text-gray-200;
  }

  .text-secondary-disabled {
    @apply text-gray-500 dark:text-gray-300;
  }

  .min-h-screen_ {
    min-height: calc(100vh - 12.1rem);
  }
}
